<% layout('./layout.ejs') %>
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <h1 class="text-primary mb-4"><%= message %></h1>
  <a href="./login">
    <button class="btn btn-primary">Login</button>
  </a>
</div>
