<%- layout('layout.ejs') %>
<link rel="stylesheet" href="/styles.css">
<div class="border">
    <div class="p-4"><h2>Smart Buy Options</h2>
    <p>Find smart buy options here.</p>
    <div class="suggest_container">
        <form action="/generate_buy" method="get">
            <button class="gen-button">Generate</button>
        </form>
    </div>
    
    <div class="suggestion"></div>
</div>
</div>
<!-- <script src="/a.js"></script> -->
